* {
  box-sizing: border-box;
}

header {
  text-align: center;
}

#side-bar {
  position: fixed;
  width: 14%;
}

#side-bar li {
  list-style: none;
}

main {
  margin: auto 15%;
}

#search-bar {
  width: 60%;
  margin-left: 16%;
}


img {
  width: 100px;
}

#search-results {
  padding-left: 5px;
  list-style: none;
}

#search-results span {
  font-size: 30px;
  position: absolute;
  margin-left: 10px;
}
.hide {
  display: none;
}

li:hover {
  cursor: pointer;
}
